.not-found-title {
  font-size: 100px;
}

.not-found-message {
  display: block;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  text-decoration: none;
  color: #D9CD8D;
  margin-bottom: 200px;
}

.not-found-link {
  display: block;
  text-align: center;
  font-size: 40px;
  text-decoration: none;
  color: #D9CD8D;
}
